# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Django
*.log
db.sqlite3
media/

# Environment
.env

# IDE
.vscode/
.idea/

# Static collected
staticfiles/

# macOS
.DS_Store

# Windows
Thumbs.db
