
{% extends 'dashboard/base.html' %}

{% block content %}
{% load static %}
<div class="card mt-5 p-4">
    <h5>Liste des produits</h5>
    <div class="table-responsive">
        <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center mb-3">

            <!-- Recherche -->
            <input type="text" id="searchInput" class="form-control w-auto"
                placeholder="Rechercher...">

            <!-- Filtres -->
             <select id="filterFormat" class="form-select w-auto">
                <option value=""></option>
            </select>
            <select id="pageSize" class="form-select w-auto">
                <option value="10" selected>10</option>
                <option value="50" >50</option>
                <option value="100">100</option>
            </select>

            <!-- Export -->
            <div>
                <button class="btn btn-success" onclick="exportData('excel')">Excel</button>
                <button class="btn btn-outline-secondary" onclick="exportData('csv')">CSV</button>
            </div>

            <small id="tableInfo" class="text-muted"></small>
        </div>
        {% if not is_superviseur %}
            <div>
                <button class="btn btn-success" onclick="openAddModal()">+ Ajouter un produit</button>
            </div>
        {% endif %}
        
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col">Nom produit</th>
                    <th scope="col">Description</th>
                    <th scope="col">Format</th>
                    <th scope="col">Prix HT</th>
                    <th scope="col">Prix carton</th>
                    <th scope="col">Prix grossiste.</th>
                    <th scope="col">Prix point de vente</th>
                    <th scope="col">Prix consommateur</th>
                    {% if not is_superviseur %}
                    <th scope="col">Actions</th>
                    {% endif %} 
                    
                </tr>
            </thead>
            <tbody id="produitsTable" class="table-group-divider"></tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination justify-content-center mt-3" id="pagination"></ul>
    </nav>

</div>

<div class="modal fade" id="produitModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div id="modalBody" class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    const IS_ADMIN = {{ is_admin|yesno:'true,false' }};
    const IS_SUPERVISEUR = {{ is_superviseur|yesno:'true,false' }};
</script>
<script src="{% static 'dashboard/js/produit.js' %}" defer></script>
{% endblock %}
